:root {
  --form-bg: rgb(255, 255, 255);
  --box-shadow: 1px 1px 10px 2px rgb(110, 110, 110);
  --gradient: linear-gradient(45deg, greenyellow, dodgerblue);
  --input-border: 1px solid rgb(209, 209, 209);

  --row: 700px;
}

/* ------------------------------------------------
# Global styling
------------------------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Arial;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-image: var(--gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgb(82, 82, 82);
}

/* ------------------------------------------------
# Form
------------------------------------------------ */

.mastercontainer {
  max-width: var(--row);
  margin: 0 auto;
  width: 80vw;
}

.parent {
  margin-top: 12vh;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.headings {
  background-color: var(--form-bg);
  text-align: center;
  border-radius: 4px;
  width: 80%;
  box-shadow: var(--box-shadow);
}

.headings p {
  margin-bottom: 10px;
}

.headings h1 {
  margin-top: 10px;
}

.form {
  background-color: var(--form-bg);
  border-radius: 4px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 70%;
  box-shadow: var(--box-shadow);
  margin-bottom: 100px;
}

#survey-form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input:hover,
select:hover,
textarea:hover {
  border-color: #4BFFF9;
  border-width: 1px;
}

.inputwidth {
  display: block;
  width: 100%;
}

.inputmargin {
  margin-top: 5px;
  border-radius: 3px;
  padding: 3px;
  /* border-style: none; */
  border: var(--input-border);
}

.labelinputcontainer {
  margin: 0 0 0 20px;
  width: 90%;
}

.radiocontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.button {
  width: 100%;
  padding: 2px;
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  border-radius: 3px;
  background: var(--gradient);
  color: white;
  border: var(--input-border);
}